.faq {
	width: 100%;
	margin: 0 auto;
	max-width: 1200px;
	padding: 100px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.title {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 14px;
	margin-bottom: 44px;
}

.icon {
	font-size: 54px;
	color: #2AD986;
}
.title > h1 {
	font-weight: 500;
	font-size: 44px;
	letter-spacing: -1px;
}
.title > p {
	font-weight: 400;
	font-size: 18px;
	opacity: .5;
	letter-spacing: -.5px;
	text-align: center;
}


.questions {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 100%;
	max-width: 600px;

}

.question {
	display: flex;
	flex-direction: column;

	background: rgba(255, 255, 255, 0.05);
	padding: 12px;
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.15);
}

.question > .head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.question > .head > h1 {
	font-weight: 500;
	font-size: 18px;
	letter-spacing: -.5px;
}

.question > .head > button {
	border: none;
	background: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
}

.answer {
	margin-top: 12px;
	opacity: .5;
	animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: .5;
		transform: translateY(0);
	}
}


@media (max-width: 768px) {	
	.faq {
		padding: 32px 12px;
	}

	.title {
		margin-bottom: 34px;
	}
	.title > h1 {
		text-align: center;
		font-size: 24px;
	}
	
}
