@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

:root {
	--background: #0a0a0a;
	--foreground: #ededed;
}

html,
body {
	color-scheme: dark;
	max-width: 100vw;
	overflow-x: hidden;
	height: 100vh;
	overflow: hidden;
}

html {
	background-image: url('/background.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

body {
	color: var(--foreground);
	font-family: "Geist", sans-serif;
	font-optical-sizing: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
	color: white;
}

button {
	cursor: pointer;
	font-family: "Geist", sans-serif;
	font-optical-sizing: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: white;
}