@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

:root {
	--background: #081213;
	--foreground: #ededed;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

html {
	color-scheme: dark;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: "Geist", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	cursor: pointer;
	font-family: "Geist", sans-serif;
	font-optical-sizing: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: white;
}
